.playlist_videos {
	overflow: hidden;
	margin-bottom: 2.8em;
}

.playlist_videos_item {
	float: left;
	width: 32%;
	margin-left: 2%;
	text-align: center;
	&:first-child {
		margin-left: 0;
	}
}

.video_sample {
	width: 100%;
}

.video_title {
	color: #5b5b57;
	font-size: 1.542em;
	line-height: 1.1em;
	margin-top: 0.6em;
}