/* line 1, ../../dev/scss/layout.scss */
body {
  background: #fff;
  font-size: 12px;
  line-height: 14px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 8, ../../dev/scss/layout.scss */
#mainarea {
  max-width: 1067px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding: 4.250em 98px 0;
}

/* line 16, ../../dev/scss/layout.scss */
#content_fone {
  height: 100%;
  *height: auto;
  *width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 26, ../../dev/scss/layout.scss */
#video_wrap {
  margin-bottom: 2.333em;
  width: 100%;
}

@media screen and (max-width: 1056px) {
  /* line 32, ../../dev/scss/layout.scss */
  body {
    font-size: 10px;
    line-height: 12px;
  }

  /* line 37, ../../dev/scss/layout.scss */
  #mainarea {
    padding: 4.250em 0 0 0;
  }
}
@media screen and (max-width: 850px) {
  /* line 43, ../../dev/scss/layout.scss */
  body {
    font-size: 9px;
    line-height: 11px;
  }

  /* line 48, ../../dev/scss/layout.scss */
  #mainarea {
    padding: 4.250em 0 0 0;
  }
}
