/* line 1, ../../dev/scss/playlist_tabs.scss */
.playlist_tabs_wrap {
  overflow: hidden;
  margin: 0 1% 2.667em 1%;
  position: relative;
}

/* line 7, ../../dev/scss/playlist_tabs.scss */
.playlist_tabs {
  white-space: nowrap;
  position: relative;
  margin-left: -1%;
}

/* line 13, ../../dev/scss/playlist_tabs.scss */
.playlist_tabs_item {
  width: 24%;
  margin-left: 1%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center;
  cursor: pointer;
  white-space: normal;
  vertical-align: top;
  white-space: nowrap;
}
/* line 24, ../../dev/scss/playlist_tabs.scss */
.playlist_tabs_item figure {
  white-space: normal;
}

/* line 29, ../../dev/scss/playlist_tabs.scss */
.playlist_image {
  width: 100%;
}

/* line 33, ../../dev/scss/playlist_tabs.scss */
.playlist_title {
  color: #003f7c;
  font-size: 1.167em;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin: 0.6em 0 0.2em;
}

/* line 42, ../../dev/scss/playlist_tabs.scss */
.playlist_descr {
  color: #5b5b57;
  font-size: 1em;
}
